extends ../shared/layout

block main-content
    h3 Create Playlist
    .col-md-offset-3.col-md-6
        form.form-horizontal(role="form" method="post")
            .form-group
                label.col-sm-2.control-label(for="title") Title
                .col-sm-10
                    input.form-control(type="text" name="title" placeholder="Title" required="required")
            .form-group
                label.col-sm-2.control-label(for="description") Description
                .col-sm-10
                    input.form-control(type="text" name="description" placeholder="Description" required="required")
            .form-group
                label.col-sm-2.control-label(for="videoUrl") Video Url
                .col-sm-10
                    input.form-control(type="text" name="videoUrl" placeholder="videoUrl")
            .form-group
                label.col-sm-2.control-label(for="type") Type
                .col-sm-10
                    select.form-control(id="type" name="type")
                        each type in ['public', 'private']
                            option #{type}
            .form-group
                label.col-sm-2.control-label Category
                .col-sm-10
                    select.form-control(id="category" class="form-control" name="category")
                        each name, i in JSON.parse(initiatives).names
                            option(value="#{name}") #{name}

            .form-group
                .col-sm-offset-2.col-sm-10
                    input(type="submit" value="Create" class="btn btn-primary")

block page-scripts
    script(src="js/sendRequest.js")
